<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recetas guardadas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="mytheme"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recetas guardadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Animación Lottie -->
  <div class="lottie-wrapper">
    <lottie-player 
      src="../../../assets/animations/food.recipe.json"
      background="transparent"
      speed="1"
      loop 
      autoplay>
    </lottie-player>
  </div>

  <!-- Tarjeta contenedora -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis recetas</ion-card-title>
      <ion-card-subtitle>Recetas registradas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="recetas.length > 0; else sinRecetas">
        <ion-card *ngFor="let receta of recetas">
          <ion-card-header>
            <ion-card-title>{{ receta.nombre }}</ion-card-title>
            <ion-card-subtitle>Tiempo: {{ receta.tiempo }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="receta.imagen" [src]="receta.imagen" alt="Imagen de la receta" />
            <p><strong>Ingredientes:</strong> {{ receta.ingredientes }}</p>
            <p><strong>Instrucciones:</strong> {{ receta.instrucciones }}</p>
          </ion-card-content>
        </ion-card>

      </ion-list>

      <ng-template #sinRecetas>
        <p>No hay recetas guardadas aún.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Descure nuevas recetas</ion-card-title>
      <ion-card-subtitle>Obtenidos por la API themealdb</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let cat of categories">
          <ion-card-header>
            <ion-card-title>{{ cat.strCategory }}</ion-card-title>
         
          </ion-card-header>
          <ion-card-content>
            <img [src]="cat.strCategoryThumb" alt="Imagen de la receta" />
           
            <p><strong>Descripction:</strong> {{ cat.strCategoryDescription }}...</p>
          </ion-card-content>
        </ion-card>

      </ion-list>

      
    </ion-card-content>
  </ion-card>
</ion-content>
