.card-view-recipes{
    display: grid;
    justify-content: center;    
    padding: 2px;
    margin: 2px;
  
}

ion-img{
    padding: 2px;
    margin: 2px;
}

.recipe-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}